*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* ---- Nav Section ---- */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #672ac1;
  font-size: 2rem;
  padding: 4rem;
}

.nav-logo {
  width: 12rem;
  margin-right: 23rem;
}

.nav-list-main {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav-list-item {
  padding: 0 1rem;
}

.nav-list-item a {
  color: #d7c5ed;
}

.nav-list-item:first-child a {
  color: #41b4ee;
  padding-bottom: 6px;
  border-bottom: 1px solid #41b4ee;
}

.nav-trial {
  background-color: #45b6ee;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  margin-left: 4rem;
}
/* ---- End of Nav Section ---- */

/* ---- Header Section ---- */
.header {
  display: flex;
  background-color: #672ac1;
  padding: 9rem 16rem;
}

.first-header {
  display: inherit;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  margin-right: 10rem;
}

.first-header h1 {
  font-size: 6rem;
  font-weight: 400;
}
.first-header p {
  font-size: 2rem;
  color: #d7c5ed;
  font-weight: 300;
  line-height: 1.4;
}

.second-header-image {
  width: 55rem;
}

.first-header-link {
  background-color: #45b6ee;
  padding: 2rem 3rem;
  border-radius: 4px;
  font-size: 1.6rem;
}
/* ---- End Header Section ---- */

/* ---- Main Section ---- */
.main-section {
  background-color: white;
  padding: 16rem 8rem 16rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: inherit;
}

.main-section img {
  width: 65rem;
  border-radius: 20px;
}

.first-main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-main-section h2 {
  font-size: 4rem;
}
.first-main-section h3 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.first-main-section p {
  font-size: 1.3rem;
  color: gray;
}

.first-main-section-side {
  display: flex;
  justify-content: space-evenly;
}

.first-flesh {
  color: #e48b38;
  font-size: 32px;
}
.second-flesh {
  color: #5dbd14;
  font-size: 32px;
}
.third-flesh {
  color: #3b83f0;
  font-size: 32px;
}
/* ---- End Main Section ---- */

/* ---- Feature Section ---- */
.feature {
  background-color: white;
  padding: 2rem 0;
}

.feature h3 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.4;
}

.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 24rem;
  height: 38rem;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 8px;
  text-align: center;
}

.feature-card img {
  width: 14rem;
  height: 14rem;
}

.feature-card h4 {
  font-size: 2.6rem;
  font-weight: 500;
}

.feature-card p {
  font-size: 1.4rem;
}

.feature-card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.feature-card-link {
  width: 32px;
  height: 32px;
  border: 1px solid #4ab7ee;
  border-radius: 50%;
}

.feature-card-link::after {
  content: "\2794";
  display: block;
  color: #4ab7ee;
  font-size: 16px;
  padding-top: 5px;
}
/* ---- End Feature Section ---- */

/* ---- plans Section ---- */
.plans {
  background-color: white;
  padding: 14rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.plan span {
  font-size: 2rem;
  font-weight: 500;
}

/* test */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* test */

.plans h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
}

.plans-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.plans-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 33rem;
  height: 43rem;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 8px;
  text-align: center;
}

.plans-card:first-child a,
.plans-card:last-child a {
  background-color: #ecf7fd;
  color: #4ab7ee;
}

.plans-card h4 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #737373;
}

.plans-card p {
  font-size: 1.4rem;
  color: gray;
}

.plans-card .plans-card-header p {
  color: black;
}

.plans-card-link {
  background-color: #45b6ee;
  padding: 2rem 3rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.plans-card-price {
  font-size: 4rem;
  font-weight: bold;
}
/* ---- End plans Section ---- */

/* ---- Review Section ---- */
.reviews {
  background-color: white;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.reviews h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
}

.reviews p {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
  font-weight: 400;
  line-height: 1.6;
}

.reviews-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33rem;
  height: 26.5rem;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 8px;
  text-align: center;
  position: relative;
  justify-content: center;
  gap: 2rem;
}

.reviews-card:first-child {
  border: 1px solid #7742c4;
  box-shadow: 0px 8px 24px rgb(119 66 196 / 20%);
}

.reviews-card .quote {
  width: 30px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.reviews-card .person {
  width: 7.3rem;
}

.reviews-card-person {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.reviews-card-person-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviews-card-person-info p {
  font-size: 2rem;
}

.reviews-card-person-info p:last-child {
  font-size: 1rem;
  color: gray;
  text-align: left;
}

blockquote {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: gray;
}
/* ---- End Review Section ---- */

/* ---- News Section ---- */
.news {
  background-color: white;
  padding: 14rem 0;
}

.news h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
}

.news-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.news-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 50rem; */
  height: 58.5rem;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 8px;
  /* text-align: center; */
  /* position: relative; */
  gap: 2rem;
}

.news-card img {
  width: 50rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.news-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
  gap: 3.5rem;
}

.news-card-info-main {
  display: flex;
  gap: 5rem;
}

.news-card-info h4 {
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
}
.news-card-info p {
  font-size: 1.3rem;
  color: gray;
  text-align: left;
  /* font-weight: 400; */
}
.news-card-info a {
  background-color: #45b6ee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 100;
}
/* ---- End News Section ---- */

/* ---- Foooter Section ---- */
footer {
  background-color: black;
  padding: 9rem 18rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

hr {
  border: none;
  border-top: 1px solid #363f41;
}

.footer-logo {
  width: 14rem;
}

.footer-section-main {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-section p {
  color: white;
}

.footer-social-logo {
  display: flex;
  gap: 1rem;
}

.footer-section h4 {
  color: white;
  font-size: 2rem;
}

.footer-section p {
  font-size: 1.5rem;
  color: gray;
}

.footer-section ul {
  font-size: 1rem;
  list-style: none;
}

.footer-section ul li {
  padding: 1rem 0;
  font-size: 1.5rem;
}
.footer-section ul li a {
  color: gray;
}

.footer-section-email input {
  padding: 1.5rem;
  border: 1px solid gray;
  border-radius: 4px;
  color: gray;
  font-size: 1.5rem;
  background-color: black;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.footer-section-email button {
  padding: 1.5rem 3rem;
  border-radius: 4px;
  background-color: #41b4ee;
  color: white;
  border: none;
  margin: -5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #41b4ee;
  padding-top: 17px;
}

.footer-social-link {
  width: 36px;
  height: 36px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.footer-logo {
  font-size: 18px;
}

.footer-section-main-p {
  color: gray;
  /* font-weight: 400; */
  font-size: 1.7rem;
}

.footer-section-main:last-child {
  display: flex;
  justify-content: center;
}
